$button-color: #2CABD3;
$button-text-color: #FFFFFF;

.example-card {
    max-width: 500px; /* Set the maximum width of the card */
    margin: 8px;
    //max-height: 400px; /* Add margin for spacing between cards */
    margin-top: 80px;
  }
  
  .example-header-image {
    background-image: '';
    background-size: cover; /* Ensure the background image covers the entire area */
  }

  .custom-image {
    width: 100%; /* Set the width to 100% to fill the container */
    height: 400px; /* Set the desired fixed height for the images */
    object-fit: cover; /* Ensure the image covers the entire container */
  }

  mat-card-actions {
    button {
      background-color: $button-color;
      color: $button-text-color;

      &:hover {
        background-color: #177998;
      }
    }
  }