// _variables.scss
//ToDo: Refactor
$button-next-color: #2CABD3;
$button-next-text-color: #FFFFFF;

$button-back-color: #B9B9B9;
$button-back-text-color: #666666;

//TODO: Remove Duplicates
$button-color: #2CABD3;
$button-text-color: #FFFFFF;